<!-- list News -->
@model List<News>
<table class="table table-borderd table-hover">
    <tr>
        <th>NewsId</th>
        <th>NewsTitle</th>
        <th>NewsText</th>
        <th>NewsImage</th>
        <th>AdminId</th>
        <th>CategoryId</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NewsId</td>
            <td>@item.NewsTitle</td>
            <td>@item.NewsText</td>
            <td>@item.NewsImage</td>
            <td>@item.AdminId</td>
            <td>@item.CategoryId</td>
           
        </tr>
    }

</table>
